@keyframes show-x {

  0% {
    font-size: 2.6rem;
  }
  50% {
    font-size: 5.2rem;
  }
  100% {
    font-size: 7.8rem;
  }
}

@keyframes show-circle {

  from {
    transform: rotate(0deg); 
    border-bottom-color: transparent;
  }
  to {
    transform: rotate(180deg);
    border-bottom-color: var(--blue); 
  }
}

@keyframes error {
  0% {
    background-color: var(--white);
  }
  50% {
    background-color: var(--error);
  }
  100% {
    background-color: var(--white);
  }
}

@keyframes error-p {
  0% {
    color: var(--greyish-blue);
  }
  50% {
    color: var(--white);
  }
  90% {
    color: var(--greyish-blue);
  }
}

@keyframes cell-none {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

body {
  background-color: var(--backgroud);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6rem;
}

.top__menu{
  width: 40rem;
  display: flex;
  flex-direction: column;
  row-gap: .8rem;
}

i.fa-hashtag {
  color: var(--dark-blue);
  font-size: 2.4rem;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scoreboard__o, .scoreboard__x {
  width: 18rem;
  background-color: var(--white);
  padding: .8rem 1.6rem;
  border-radius: 1.2rem;
  border-bottom: transparent solid .4rem;
  transition: all .3s;
}

.scoreboard__active {
  border-bottom: var(--dark-blue) solid .4rem;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#score__o, #score__x, .symbol__o, .symbol__x{
  color: var(--greyish-blue);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 600;
}

.symbol__o {
  color: var(--blue);
}

.symbol__x {
  color: var(--gray);
}

i.fa-xmark {
  color: var(--gray);
  animation-name: show-x;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
} 

i.circle {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: .7rem solid var(--blue);
  border-bottom-color: transparent;

  animation-name: show-circle;
  animation-timing-function: linear;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.message {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  border-radius: 1.2rem;
}

.message p {
  color: var(--greyish-blue);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 600;
  padding: .8rem 0;
  transition: all .3s;
}

.div__board {
  background-color: var(--dark-blue);
  border-radius: 1.2rem;
  height: 41rem;
  width: 41rem;
  display: grid;
  grid-template-columns: repeat(3, calc(40rem/3));
  grid-template-rows: repeat(3, calc(40rem/3));
  gap: .5rem;
  justify-content: center;
  overflow: hidden;
}

.cell {
  width: calc(40rem/3);
  height: calc(40rem/3);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  transition: all .3s;
}

.cell--none {
  animation-name: cell-none;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.cell:hover {
  cursor: pointer;
}

.winner__cell {
  background-color: var(--midnight-blue);
}

.winner__cell i.fa-circle, .winner__cell i.fa-xmark {
  color: var(--white);
}

.error, .display__error {
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.error {
  animation-name: error; 
}

.display__error {
  animation-name: error-p;
}

.div__board--result {
  display: flex;
  align-items: center;
}

.show__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .8rem;
}

.symbols {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

p.result {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 3rem;
  font-weight: 600;
  color: var(--backgroud);
}

.restart {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--gray);
  padding: .8rem 1.2rem;
  border-radius: .8rem;
  border: none;
  transition: all .3s;
}

.restart:hover {
  background-color: var(--bg-hover);
  color: var(--gray);
  cursor: pointer;
}